@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:400");
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Afacad Flux", "Inter", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif, Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

:root {
  color-scheme: light dark;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;

  --main-vertical-padding: 1.25rem;
  --main-horizontal-padding: 2.5rem;
  --white: #fff5eb;
  --black: #241b1d;
  --yellow: #ffeb3b;

  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: fit-content;
  width: 100%;
  font-weight: 400;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0 var(--main-horizontal-padding);
  z-index: 1;
}

main > section {
  max-height: 768px !important;
}

nav {
  width: 100%;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  z-index: 2;
}

h1 {
  font-size: clamp(2.325rem, 10vw, 4.21rem);
}

h2 {
  font-size: clamp(1.825rem, 8vw, 3.158rem);
}

h3 {
  font-size: clamp(1.5rem, 6vw, 2.369rem);
}

h4 {
  font-size: clamp(1.125rem, 5vw, 1.777rem);
}

h5 {
  font-size: clamp(0.875rem, 4vw, 1.333rem);
}

p {
  font-size: clamp(0.6875rem, 3vw, 1rem);
}

small {
  font-size: 0.75rem; /* 12px */
}

h1,
h2 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Afacad Flux", "Inter";
  font-weight: 700;
}

.fixed-max-width {
  max-width: 1440px;
}

.circle {
  border-radius: 50%;
  overflow: clip;
}

.inline {
  display: flex;
  vertical-align: middle;
}

.nav-links-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  padding: var(--main-vertical-padding) var(--main-horizontal-padding);
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(10px);
}

.nav-links-container a, .ct a, .social-links a {
  text-decoration: none;
}

.tagline-section {
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
}

.tagline-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tagline-top {
  width: 35%;
  gap: 25px;
  align-items: center;
}

#tagline-bottom {
  width: 65%;
}

#tagline-bottom div h5 {
  margin: 15px 0 0 0;
}

.scrolling-text-animation {
  position: relative;
  display: flex;
  overflow: hidden;
  text-wrap: nowrap;
}

.scrolling-text-animation h2 {
  background: linear-gradient(-135deg, #f35626, #feab3a);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: hue 5.5s infinite alternate linear;
}

.profile-img {
  min-width: 260px;
  width: 100%;
  max-width: 330px;
  aspect-ratio: 1;
  margin: -35px 0 0 0;
}

.profile-img img {
  width: 100%;
  aspect-ratio: 1;
  transform: translateX(-5px) scale(1.05);
}

#links {
  display: flex;
  gap: 10px;
}

.jobs-project-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

/* .jobs-project-section .section-title {
  height: 10%;
} */

#pjp-section-content {
  height: 75%;
  width: 100%;
  display: flex;
  gap: 25px;
  border-radius: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
}

.pjp-container {
  position: relative;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 325px;
  width: calc(33% - 12.5px);
  max-width: 450px;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 3px 8px;
  overflow: hidden;
}

/* .pjp-container:hover .pjp-image-container {
  background-size:auto;
} */

.btn-to-repo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  height: 34px;
  width: 34px;
  background-color: #282936;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(160, 160, 160, 0.4) 0px 0px 0px 1.5px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.btn-to-repo,
.btn-to-repo *,
.btn-to-repo::before {
  cursor: pointer;
  text-align: center;
}

.pjp-link {
  position: absolute;
  top: 8px;
  right: 9px;
}

.link-to-repo .btn-to-repo::before {
  content: "View repository";
}

.btn-to-repo::before {
  position: absolute;
  font-size: 2px;
  text-wrap: nowrap;
  right: -40px;
  opacity: 0;
  transition: all 0.4s ease;
}

.btn-to-repo .svg-icon {
  height: 75%;
  aspect-ratio: 1;
  fill: #fff;
}

.btn-to-repo:hover {
  height: 40px;
  width: 140px;
  border-radius: 20px;
}

.btn-to-repo:hover::before {
  font-size: 15px;
  right: 35px;
  opacity: 1;
}

.btn-to-repo:active {
  transform: translateY(4px);
}

.pjp-image-container {
  flex-grow: 1;
  max-height: calc(100% - 95px);
  width: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.pjp-image-container > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50%;
}

.pjp-container .pjp-desc {
  height: 95px;
  text-align: justify;
  color: #111;
  padding: 0 15px;
}

.pjp-desc p {
  margin: 1em 0;
}

.contact-me-section {
  padding: 4rem;
  display: flex;
  gap: 25px;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
}

.ct-section-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ct-section-content p {
  font-size: clamp(0.7rem, 3.2vw, 1.1rem);
}

.ct-content-intro {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.ct-list, .social-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ct, .ct-link > a {
  display: flex;
  gap: 5px;
}

.ct {
  align-items: center;
}

.ct-link > a {
  align-items: top;
}

.ct > svg, .icon-size > svg {
  width: 22px;
  aspect-ratio: 1;
}

.ct-side-img {
  position: relative;
  width: 60%;
  overflow: hidden;
}

.ct-side-img > .ct-svg-art {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.ct-side-img > #visual {
  object-fit: cover;
}

.ct-divider {
  width: 80%;
}

.with-bg {
  background-color: var(--yellow);
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}

.with-bg * {
  color: var(--black);
}

.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  text-wrap: nowrap;
  width: max-content !important;
}

.with-icon > svg {
  height: 16px;
  aspect-ratio: 1;
}

.clickable {
  cursor: pointer;
}

.yellow {
  color: var(--yellow);
}

@media (prefers-color-scheme: light) {
  html {
    color: var(--black);
    background-color: var(--white);
  }

  .pjp-container {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .nav-links-container > a, .social-links a {
    color: var(--black);
  }

  .ct-svg-icon {
    fill: #000;
  }

  .ct a {
    color: var(--black);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color: var(--white);
    background-color: var(--black);
  }

  .nav-links-container > a, .social-links a {
    color: var(--white);
  }

  .ct-svg-icon {
    fill: #fff;
  }

  .ct a {
    color: var(--white);
  }
}

@media only screen and (max-width: 850px) {
  nav {
    position: sticky;
  }

  .tagline-section {
    flex-direction: column;
    gap: 16px;
    padding: 1.6rem;
    height: unset;
  }

  #tagline-top,
  #tagline-bottom {
    width: 100%;
  }

  #tagline-top {
    display: grid;
    place-items: center;
  }

  #tagline-top::after {
    content: "";
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #fff;
    width: 100%;
    height: 1px;
  }

  #tagline-bottom {
    align-items: center;
  }

  #tagline-bottom > h2 {
    text-align: center;
  }

  #tagline-bottom div h5 {
    text-align: center;
    margin-top: 5px;
    font-weight: 500;
  }

  .scrolling-text-animation {
    width: fit-content;
  }

  .profile-img {
    margin: unset;
    width: 70%;
  }

  .jobs-project-section {
    padding: 4rem 0;
  }

  .pjp-container {
    width: 100%;
  }

  .pjp-image-container > img {
    object-fit: cover;
  }

  .pjp-container .pjp-desc {
    height: 75px;
  }

  .contact-me-section {
    padding: 0 4rem 4rem 4rem;
    flex-direction: column;
    gap: 60px;
  }

  .contact-me-section > * {
    width: 100%;
  }

  .ct-side-img > .ct-svg-art {
    width: unset;
    height: 100%;
  }
}
