*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif, Tahoma, Geneva,
    Verdana, sans-serif;
}

html {
  color-scheme: light dark;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100vh;
}

main {
  height: 100%;
  width: 100%;
  padding: 2.5rem;
  z-index: 1;
}

nav {
  width: 100%;
  display: grid;
  place-items: center;
  position: sticky;
  z-index: 2;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
}

h1,
h2 {
  margin: 0;
}

.fixed-max-width {
  max-width: 1080px;
}

.circle {
  border-radius: 50%;
  overflow: clip;
}

.inline {
  display: flex;
  vertical-align: middle;
}

.nav-links-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 25px;
  padding: 1.25rem 2.5rem;
}

.tagline-section {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.tagline-section > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tagline-top {
  width: 40%;
}

#tagline-bottom {
  width: 60%;
}

.scrolling-text-animation {
  height: 60px;
  overflow: hidden;
  text-wrap: nowrap;
}

.profile-img {
  height: 325px;
  width: 325px;
}

.profile-img img {
  height: 100%;
  width: 100%;
  transform: translateX(-5px) scale(1.05);
}

@media (prefers-color-scheme: light) {
  html {
    color: #241b1d;
    background-color: #fff5eb;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color: #fff5eb;
    background-color: #241b1d;
  }
}

@media only screen and (max-width: 970px) {
  .tagline-section {
    display: block;
  }

  #tagline-top,
  #tagline-bottom {
    width: 100%;
  }

  #tagline-top {
    display: grid;
    place-items: center;
  }
}
